Options -Multiviews

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php/?url=$1 [L]

<Files ".env">
Require all denied
</Files>

php_value post_max_size 1G
php_value upload_max_filesize 1G
php_value date.timezone 'Asia/Jakarta'