Options -Multiviews

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php/?url=$1 [L]

<Files ".env">
Require all denied
</Files>

php_value post_max_size 1G
php_value upload_max_filesize 1G
ErrorDocument 400 /error_http/400.html
ErrorDocument 401 /error_http/401.html
ErrorDocument 403 /error_http/403.html
ErrorDocument 404 /error_http/404.html
ErrorDocument 500 /error_http/500.html
#ErrorDocument 501 /error_http/maintenance.html